extends ../../_core/layouts/layouts-default

append vars
    -bodyClass = "page-template-styleguide"

block scripts_demo
    script.
        $('.iedg-demo-slider').slick({
            lazyLoad: 'ondemand',
            slidesToShow: 1,
            dots: true,
            arrows: true
        });

block container
    .iedg-styleguide
        .container
            //- Slider
            section
                -
                    demoSlider = [
                        "https://images.unsplash.com/photo-1485546784815-e380f3297414?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80",
                        "https://images.unsplash.com/photo-1483058712412-4245e9b90334?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
                    ]
                ul.iedg-demo-slider
                    each val in demoSlider
                        li
                            img(data-lazy= val alt="")
            //- Heading
            section
                h1.heading-primary 	h1. IEDG heading
                h2.heading-primary 	h2. IEDG heading
                h3.heading-primary 	h3. IEDG heading
                h4.heading-primary 	h4. IEDG heading
                h5.heading-primary 	h5. IEDG heading
                h6.heading-primary 	h6. IEDG heading
            //- Buttons
            section
                button.iedg-btn.iedg-btn-primary Button primary
                button.iedg-btn.iedg-btn-outline-primary Button outline primary
                button.iedg-btn.iedg-btn-primary.is-loading Button primary
                button.iedg-btn.iedg-btn-primary(disabled) Button disabled
                button.iedg-btn.iedg-btn-link Button link
                button.iedg-btn.iedg-btn-link(disabled) Button link disabled
                a(href="#" class="iedg-link") link

            //- WPForms
            section
                h2 WPForms Forms
                .wpforms-container.wpforms-container-full
                    form(action="./styleguide.html" class="wpforms-validate wpforms-form wpforms-ajax-form")
                        .wpforms-field-container
                            +wpf-input("wpf-input-1", "Input label", "Input place holder", "Validation message")
                            +wpf-textarea("Text area", "Type your message here", "Validation message")
                            +wpf-select("Select box", "Option 1", "Option 2", "Option 3")
                        .wpforms-submit-container
                            button(type="submit" class="wpforms-submit" data-alt-text="Sending..." data-submit-text="Submit") Gửi thông tin
            //- Forms
            section
                h2 Gravity Forms
                .gform_wrapper
                    form(action="./styleguide.html")
                        .gform_body
                            ul.gform_fields
                                +g-input("g-input-1", "Input label", "Input place holder", "Validation message")(class="medium")
                                +g-input("g-input-2", "Input label", "Input place holder")(class="medium")
                                +g-input("g-input-3", "Input label", "Input place holder")(class="hidden_label")
                                +g-upload("g-upload", "Select file upload")
                                +g-select("Select box", "Option 1", "Option 2", "Option 3")
                                +g-textarea("Text area", "Type your message here")
                                +g-checkbox("g-checkbox", "Check box", "Item 1", "Item 2")(class="clear_label")
                                +g-radio("g-radio", "Radio", "Item 1", "Item 2")(class="clear_label")
                        .gform_footer
                            input.gform_button(type="submit" value="Submit")
            section
                h2 Form
                form(action="./styleguide.html")
                    +v-input("text", "v-input-1", "Input label", "Input place holder", "Validation message")
                    +v-input("text", "v-input-2", "Input disabled", "Input disabled")(disabled)
                    +v-textarea("Text area", "Text area place holder")
                    .iedg-form-group.clear_label
                        .iedg-form-label Check box
                        +v-checkbox("v-checkbox-1", "Check box 1")
                    .iedg-form-group.clear_label
                        .iedg-form-label Radio
                        +v-radio("v-radio", "v-radio-1", "Radio 1")
                        +v-radio("v-radio", "v-radio-2", "Radio 2")
                    .iedg-form-group.clear_label
                        .iedg-form-label Switcher
                        label.iedg-custom-switcher
                            input(type="checkbox")
                            span.iedg-custom-switcher__slider
                            span.iedg-custom-switcher__label Custom switcher