extends ../../_core/layouts/layouts-default

append vars
    -bodyClass = "page-template-404"

block container

    //- section.isa-breadcrumb
    //-     .container
    //-         .isa-breadcrumb__inner
    //-             ul
    //-                 li.item
    //-                     a(href="#") Trang chủ
    //-                         +icon('arrow-right')
    //-                 li.item 
    //-                     a(href="#" class="active") 404 - Not Found
                            
    //- 404
    section.iedg-404
        .container 
            .iedg-404__image 
                img.lazy(data-src="./images/404/404.svg" alt="404")
                
                    
                
                
                

                