<div class="menu-responsive menu-default hidden-md hidden-lg">
    <div class="menu-close"><span>Menu</span><i class="fa fa-times"></i></div>
    <ul id="accordion" class="accordion">
        <li id="menu-item-10877" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-10877">
            <a href="index.html" aria-current="page">Trang Chủ</a></li>
        <li id="menu-item-10876" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10876">
            <a href="gioi-thieu.html">Giới Thiệu</a>
        </li>
        <li id="menu-item-10879" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-10879">
            <a href="shop.html">Cửa Hàng</a>
            <ul class="sub-menu">
                <li id="menu-item-10888" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10888">
                    <a href="product-category/binh-giu-nhiet.html">Bình Giữ Nhiệt</a>
                </li>
                <li id="menu-item-12004" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12004">
                    <a href="https://quatangviva.com/so-tay-qua-tang">Sổ Tay Quà Tặng</a>
                </li>
                <li id="menu-item-13074" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13074">
                    <a href="https://quatangviva.com/o-du-qua-tang">Ô Dù In Logo Quà Tặng</a>
                </li>
                <li id="menu-item-10889" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10889">
                    <a href="product-category/ly-giu-nhiet.html">Ly Giữ Nhiệt</a>
                </li>
                <li id="menu-item-10890" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10890">
                    <a href="product-category/binh-nuoc-nhua.html">Bình Nước Nhựa</a>
                </li>
                <li id="menu-item-10891" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10891">
                    <a href="product-category/binh-thuy-tinh.html">Bình Thuỷ Tinh</a>
                </li>
                <li id="menu-item-10892" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10892">
                    <a href="product-category/hop-com-phu-kien.html">Hộp Cơm - Phụ Kiện</a>
                </li>
            </ul>
        </li>
        <li id="menu-item-13076" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-13076">
            <a href="#">Best Seller</a>
            <ul class="sub-menu">
                <li id="menu-item-13077" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13077">
                    <a href="binh-giu-nhiet-life.html">Bình Giữ Nhiệt Life</a>
                </li>
                <li id="menu-item-13075" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13075">
                    <a href="binh-giu-nhiet-vo-tre.html">Bình Giữ Nhiệt Vỏ Tre Khắc Tên Logo</a>
                </li>
                <li id="menu-item-12066" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-12066">
                    <a href="so-tay-bia-go-khac-ten-khac-logo.html">Sổ Tay Bìa Gỗ Khắc Tên</a>
                </li>
                <li id="menu-item-13078" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13078">
                    <a href="binh-giu-nhiet-lock-lock.html">Bình Giữ Nhiệt Lock&#038;Lock</a>
                </li>
            </ul>
        </li>
        <li id="menu-item-10878" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10878">
            <a href="#">Dịch Vụ</a>
            <ul class="sub-menu">
                <li id="menu-item-10880" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-10880">
                    <a href="in-logo-len-binh-giu-nhiet.html">Bình Nước In Logo</a>
                </li>
                <li id="menu-item-10881" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-10881">
                    <a href="khac-ten-laze-len-binh-giu-nhiet.html">Bình Giữ Nhiệt Khắc Laze</a>
                </li>
            </ul>
        </li>
        <li id="menu-item-10875" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10875">
            <a href="blog.html">Blog</a>
        </li>
        <li id="menu-item-10887" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10887">
            <a href="#">Chính Sách Bán Hàng</a>
            <ul class="sub-menu">
                <li id="menu-item-10885" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-10885">
                    <a href="bao-mat-thong-tin-ca-nhan.html">Bảo Mật Thông Tin</a>
                </li>
                <li id="menu-item-10886" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10886">
                    <a href="chinh-sach-ban-hang.html">Chính Sách Bán Hàng</a>
                </li>
            </ul>
        </li>
        <li id="menu-item-23106" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-23106">
        <a href="lien-he.html">Liên Hệ</a></li>
    </ul>
</div>

<header class="header relative">
    <nav class="nav__header visible-md visible-lg">
        <ul id="menu-menucuahang-1" class="container">
            <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-10877">
                <a href="index.html" aria-current="page">Trang Chủ</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10876">
                <a href="gioi-thieu.html">Giới Thiệu</a>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-10879">
                <a href="shop.html">Cửa Hàng</a>
                <ul class="sub-menu">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10888">
                        <a href="product-category/binh-giu-nhiet.html">Bình Giữ Nhiệt</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12004">
                        <a href="https://quatangviva.com/so-tay-qua-tang">Sổ Tay Quà Tặng</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13074">
                        <a href="https://quatangviva.com/o-du-qua-tang">Ô Dù In Logo Quà Tặng</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10889">
                        <a href="product-category/ly-giu-nhiet.html">Ly Giữ Nhiệt</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10890">
                        <a href="product-category/binh-nuoc-nhua.html">Bình Nước Nhựa</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10891">
                        <a href="product-category/binh-thuy-tinh.html">Bình Thuỷ Tinh</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10892">
                        <a href="product-category/hop-com-phu-kien.html">Hộp Cơm - Phụ Kiện</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-13076">
                <a href="#">Best Seller</a>
                <ul class="sub-menu">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13077">
                        <a href="binh-giu-nhiet-life.html">Bình Giữ Nhiệt Life</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13075">
                        <a href="binh-giu-nhiet-vo-tre.html">Bình Giữ Nhiệt Vỏ Tre Khắc Tên Logo</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-12066">
                        <a href="so-tay-bia-go-khac-ten-khac-logo.html">Sổ Tay Bìa Gỗ Khắc Tên</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13078">
                        <a href="binh-giu-nhiet-lock-lock.html">Bình Giữ Nhiệt Lock&#038;Lock</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10878">
                <a href="#">Dịch Vụ</a>
                <ul class="sub-menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-10880">
                        <a href="in-logo-len-binh-giu-nhiet.html">Bình Nước In Logo</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-10881">
                        <a href="khac-ten-laze-len-binh-giu-nhiet.html">Bình Giữ Nhiệt Khắc Laze</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10875">
                <a href="blog.html">Blog</a>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10887">
                <a href="#">Chính Sách Bán Hàng</a>
                <ul class="sub-menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-10885">
                        <a href="bao-mat-thong-tin-ca-nhan.html">Bảo Mật Thông Tin</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10886">
                    <a href="chinh-sach-ban-hang.html">Chính Sách Bán Hàng</a></li>
                </ul>
            </li>
            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-23106">
                <a href="lien-he.html">Liên Hệ</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <h1 class="web-title"> Bình Giữ Nhiệt Khắc Tên - In Logo 
            </h1>
            <div class="logo col-md-2 col-sm-4 col-xs-12">
                <a href="index.html" title="Bình Giữ Nhiệt Khắc Tên &#8211; In Logo">
                    <img src="./images/logo.png" alt="Bình Giữ Nhiệt Khắc Tên &#8211; In Logo" class="img-responsive center-block" width="200" height="auto" />
                </a>
            </div>
            <div class="col-md-5 hidden-sm hidden-xs">
                <div class="header-box">
                    <form role="search" method="get" class="search-form" action="index.html">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="search" class="form-control" placeholder="Gõ thông tin tìm kiếm" value="" name="s" />
                                <div class="input-group-btn">
                                    <button class="btn buttom-search" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-5 col-sm-8 hidden-xs">
                <div class="header-box">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="cart">
                                <a data-toggle="modal" href="#modal-register">
                                    <p>Khuyến mãi</p>
                                    <small>HOT</small>
                                    <i class="fa fa-bell" aria-hidden="true"></i>
                                    </i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="cart">
                                <a href="gio-hang.html">
                                    <p>Giỏ hàng</p>
                                    <small class="total-cart">
                                        <span class="woocommerce-Price-amount amount">
                                            <bdi>0<span class="woocommerce-Price-currencySymbol">&#8363;</span></bdi>
                                        </span>
                                    </small>
                                    <i class="fa fa-shopping-bag" aria-hidden="true">
                                    <span>0</span>
                                    </i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="hotline">
                                <i class="fa fa-mobile" aria-hidden="true"></i>
                                <span>Hotline</span>
                                <a href="tel:0867 171 599">0867 171 599</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-icon hidden-md hidden-lg">
                <div class="menu-open menu-default-open">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </div>
    </div>
</header>